<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách book</title>
</head>
<style>
    table th, td{
        border: solid black 1px;
        border-collapse: collapse;
    }
</style>
<body>
<span>
    <a href="/">Back</a>
</span>
<table>
    <tr>
        <th>STT</th>
        <th>Mã sách</th>
        <th>Trạng Thái</th>
        <th>Chi tiết</th>
    </tr>
    <tr th:each="orderBook, status : ${orderBookList}">
        <td th:text="${status.count}"></td>
        <td th:text="${orderBook.code}"></td>
        <td th:text="${orderBook.isStatus()}"></td>
        <td th:if="${orderBook.isStatus()==true}" th:text="'Đang Thuê'"></td>
        <td th:if="${orderBook.isStatus()==false}" th:text="'Chưa trả'"></td>
        <td><a th:href="@{/order/detail/__${orderBook.id}__}">Chi tiết</a></td>
    </tr>
</table>
</body>
</html>